<div class="pusher">
    <div class="ui vertical masthead inverted center aligned segment">
        <div class="ui container">
            <h1 class="ui header inverted">
                Dashboard
            </h1>
        </div>
    </div>
    <div class="ui vertical masthead center aligned segment">
        <div id="dashboard-app"></div>
    </div>
</div>

{{#if isLocal}}
    <script src="/dist/dashboard.js"></script>
{{else}}
    <script src="/public/dist/dashboard.js"></script>
{{/if}}